<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Weather Logger</title>
    <link href="public/css/bootstrap.min.css" rel="stylesheet">
    <link href="public/css/font-awesome.min.css" rel="stylesheet">
    <link href="public/css/datepicker3.css" rel="stylesheet">
    <link href="public/css/styles.css" rel="stylesheet">
    <link href="public/css/dashboard.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons-wind.min.css" rel="stylesheet">
    <!--Custom Font-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse"><span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span></button>
                <a class="navbar-brand" href="#"><span>Weather</span>Logger</a>
            </div>
        </div><!-- /.container-fluid -->
    </nav>
    <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
        <div class="divider"></div>
        <ul class="nav menu">
            <li class="active"><a href="index.html"><em class="fa fa-dashboard">&nbsp;</em> Dashboard</a></li>
        </ul>
    </div><!--/.sidebar-->     
    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
        <div class="row">
            <ol class="breadcrumb">
                <li><a href="#">
                    <em class="fa fa-home"></em>
                </a></li>
                <li class="active">Dashboard</li>
            </ol>
        </div><!--/.row-->
        
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Current Weather</h1>
            </div>
        </div><!--/.row-->
        
        <div class="panel panel-container">
            <div class="row">
                <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
                    <div class="panel panel-teal panel-widget border-right">
                        <div class="row no-padding"><em class="fa fa-xl fa-thermometer-half color-orange"></em>
                            <div class="large">{{ latestWeater.Temperature }}&nbsp;&#8451;</div>
                            <div class="text-muted">Temperature</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
                    <div class="panel panel-blue panel-widget border-right">
                        <div class="row no-padding"><em class="fa fa-xl fa-tint color-blue"></em>
                            <div class="large">{{ latestWeater.Humidity }}&nbsp;%</div>
                            <div class="text-muted">Humidity</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
                    <div class="panel panel-orange panel-widget border-right">
                        <div class="row no-padding"><em class="wi wi-wind wi-strong-wind"></em>
                            <div class="large">{{ latestWeater.WindSpeed }}&nbsp;m/s</div>
                            <div class="text-muted">Wind Speed</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
                    <div class="panel panel-red panel-widget ">
                        <div class="row no-padding"><em class="fa fa-xl fa-cloud color-red"></em>
                            <div class="large">{{ latestWeater.Pressure }}&nbsp;kPa</div>
                            <div class="text-muted">Air Pressure</div>
                        </div>
                    </div>
                </div>
            </div><!--/.row-->
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Temperature (&#8451;)
                        <ul class="pull-right panel-settings panel-button-tab-right">
                            <li class="dropdown"><a class="pull-right dropdown-toggle" data-toggle="dropdown" href="#">
                                <em class="fa fa-cogs"></em>
                            </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li>
                                        <ul class="dropdown-settings">
                                            <li><a href="#">
                                                <em class="fa fa-cog"></em> Settings 1
                                            </a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">
                                                <em class="fa fa-cog"></em> Settings 2
                                            </a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">
                                                <em class="fa fa-cog"></em> Settings 3
                                            </a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span></div>
                    <div class="panel-body">
                        <div class="canvas-wrapper">
                            <canvas class="main-chart" id="temperature-chart" height="200" width="600"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.row-->

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Humidity (%)
                        <ul class="pull-right panel-settings panel-button-tab-right">
                            <li class="dropdown"><a class="pull-right dropdown-toggle" data-toggle="dropdown" href="#">
                                <em class="fa fa-cogs"></em>
                            </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li>
                                        <ul class="dropdown-settings">
                                            <li><a href="#">
                                                <em class="fa fa-cog"></em> Settings 1
                                            </a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">
                                                <em class="fa fa-cog"></em> Settings 2
                                            </a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">
                                                <em class="fa fa-cog"></em> Settings 3
                                            </a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span></div>
                    <div class="panel-body">
                        <div class="canvas-wrapper">
                            <canvas class="main-chart" id="humidity-chart" height="200" width="600"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.row-->

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Air Pressure (kPa)
                        <ul class="pull-right panel-settings panel-button-tab-right">
                            <li class="dropdown"><a class="pull-right dropdown-toggle" data-toggle="dropdown" href="#">
                                <em class="fa fa-cogs"></em>
                            </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li>
                                        <ul class="dropdown-settings">
                                            <li><a href="#">
                                                <em class="fa fa-cog"></em> Settings 1
                                            </a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">
                                                <em class="fa fa-cog"></em> Settings 2
                                            </a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">
                                                <em class="fa fa-cog"></em> Settings 3
                                            </a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span></div>
                    <div class="panel-body">
                        <div class="canvas-wrapper">
                            <canvas class="main-chart" id="pressure-chart" height="200" width="600"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.row-->

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Wind Speed (m/s)
                        <ul class="pull-right panel-settings panel-button-tab-right">
                            <li class="dropdown"><a class="pull-right dropdown-toggle" data-toggle="dropdown" href="#">
                                <em class="fa fa-cogs"></em>
                            </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li>
                                        <ul class="dropdown-settings">
                                            <li><a href="#">
                                                <em class="fa fa-cog"></em> Settings 1
                                            </a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">
                                                <em class="fa fa-cog"></em> Settings 2
                                            </a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">
                                                <em class="fa fa-cog"></em> Settings 3
                                            </a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span></div>
                    <div class="panel-body">
                        <div class="canvas-wrapper">
                            <canvas class="main-chart" id="windSpeed-chart" height="200" width="600"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.row-->
        

         <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Average Values
                    </div>
                </div>
            </div>
        </div><!--/.row-->

        <div class="row">
            <div class="col-xs-6 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body easypiechart-panel">
                        <h4>Temperature (&#8451;)</h4>
                        <div 
                          class="easypiechart" 
                          id="easypiechart-blue" 
                          data-percent={{(100/maxSensorValues.Temperature)*avgSensorValues.Temperature}} 
                        >
                          <span class="percent">{{avgSensorValues.Temperature}}</span>
                        </div>
                    </div>
                    <div class='label-avg'>
                      <h5>Min:&nbsp;{{ minSensorValues.Temperature }}</h5>
                      <h5>Max:&nbsp;{{ maxSensorValues.Temperature }}</h5>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body easypiechart-panel">
                        <h4>Humidity (%)</h4>
                        <div 
                          class="easypiechart" 
                          id="easypiechart-orange" 
                          data-percent={{(100/maxSensorValues.Humidity)*avgSensorValues.Humidity}}
                        >
                          <span class="percent">{{avgSensorValues.Humidity}}</span>
                        </div>
                    </div>
                    <div class='label-avg'>
                      <h5>Min:&nbsp;{{ minSensorValues.Humidity }}</h5>
                      <h5>Max:&nbsp;{{ maxSensorValues.Humidity }}</h5>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body easypiechart-panel">
                        <h4>Air Pressure (kPa)</h4>
                        <div 
                          class="easypiechart" 
                          id="easypiechart-teal" 
                          data-percent={{(100/maxSensorValues.Pressure)*avgSensorValues.Pressure}}
                        >
                          <span class="percent">{{avgSensorValues.Pressure}}</span>
                        </div>
                    </div>
                    <div class='label-avg'>
                      <h5>Min:&nbsp;{{ minSensorValues.Pressure }}</h5>
                      <h5>Max:&nbsp;{{ maxSensorValues.Pressure }}</h5>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body easypiechart-panel">
                        <h4>Wind Speed (m/s)</h4>
                        <div 
                          class="easypiechart" 
                          id="easypiechart-red" 
                          data-percent={{(100/maxSensorValues.WindSpeed)*avgSensorValues.WindSpeed}} 
                        >
                          <span class="percent">{{avgSensorValues.WindSpeed}}</span>
                        </div>
                    </div>
                    <div class='label-avg'>
                      <h5>Min:&nbsp;{{ minSensorValues.WindSpeed }}</h5>
                      <h5>Max:&nbsp;{{ maxSensorValues.WindSpeed }}</h5>
                    </div>
                </div>
            </div>
        </div><!--/.row-->
    </div>  <!--/.main-->
    
    <script src="public/js/jquery-1.11.1.min.js"></script>
    <script src="public/js/bootstrap.min.js"></script>
    <script src="public/js/chart.min.js"></script>
    <script src="public/js/chart-data.js"></script>
    <script src="public/js/easypiechart.js"></script>
    <script src="public/js/easypiechart-data.js"></script>
    <script src="public/js/bootstrap-datepicker.js"></script>
    <script src="public/js/custom.js"></script>
     <script src="public/js/weather.js"></script>
    <script>


    window.onload = function () {

        var sensorWeatherData = {{ sensorWeather|json_encode|raw }};
        var labels = getDateLabels(sensorWeatherData, 'HH:MM');
        var weatherPropsData = getWeatherPropsData(sensorWeatherData);

        var graphConfig = {
            fillColor: "rgba(220,220,220,0.2)",
            pointColor:"rgba(220,220,220,1)",
            pointHighlightFill:"#fff",
            pointHighlightStroke:"rgba(220,220,220,1)",
            pointStrokeColor:"#fff",
            strokeColor:"rgba(220,220,220,1)"
        }

        var datasetTemperature = {
            data: weatherPropsData.temperature,
            graphConfig
        }

        var datasetHumidity = {
            data: weatherPropsData.humidity,
            graphConfig
        }

        var datasetPressure = {
            data: weatherPropsData.pressure,
            graphConfig
        }

        var datasetWindSpeed = {
            data: weatherPropsData.windSpeed,
            graphConfig
        }

        var TemperatureGraphData = {
            datasets: [datasetTemperature],
            labels: labels
        }

        var HumidityGraphData = {
            datasets: [datasetHumidity],
            labels: labels
        }

        var PressureGraphData = {
            datasets: [datasetPressure],
            labels: labels
        }

         var WindSpeedGraphData = {
            datasets: [datasetWindSpeed],
            labels: labels
        }


        var temperatureChart = document.getElementById("temperature-chart").getContext("2d");
        window.myLine = new Chart(temperatureChart).Line(TemperatureGraphData, {
          responsive: true,
          scaleLineColor: "rgba(0,0,0,.2)",
          scaleGridLineColor: "rgba(0,0,0,.05)",
          scaleFontColor: "#c5c7cc"
        });

        var humidityChart = document.getElementById("humidity-chart").getContext("2d");
        window.myLine = new Chart(humidityChart).Line(HumidityGraphData, {
          responsive: true,
          scaleLineColor: "rgba(0,0,0,.2)",
          scaleGridLineColor: "rgba(0,0,0,.05)",
          scaleFontColor: "#c5c7cc"
        });

        var pressureChart = document.getElementById("pressure-chart").getContext("2d");
        window.myLine = new Chart(pressureChart).Line(PressureGraphData, {
          responsive: true,
          scaleLineColor: "rgba(0,0,0,.2)",
          scaleGridLineColor: "rgba(0,0,0,.05)",
          scaleFontColor: "#c5c7cc"
        });  

        var windSpeedChart = document.getElementById("windSpeed-chart").getContext("2d");
        window.myLine = new Chart(windSpeedChart).Line(WindSpeedGraphData, {
          responsive: true,
          scaleLineColor: "rgba(0,0,0,.2)",
          scaleGridLineColor: "rgba(0,0,0,.05)",
          scaleFontColor: "#c5c7cc"
        });
    };
    </script>
        
</body>
</html>